@using InfinityBooksDemo.Models
@using InfinityBooksDemo.Service

@model IEnumerable<InfinityBooksDemo.Models.Product>

<main role="main">
    <section class="jumbotron text-center mt-5">
        <div class="container">
            <h1 class="jumbotron-heading">Products</h1>

        </div>
    </section>
    @if (ViewBag.InternalErrorMessage != null)
    {
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    @ViewBag.InternalErrorMessage
                </div>
            </div>
        </div>
    }
    @if (Model.Count() > 0)
    {
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    @foreach (var product in Model)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">

                                <img src="@(string.Concat(product.productImages[0].blobimagePath,KeyVaultService.Blobkey))" width="100%" height="225" style="object-fit:contain">
                                <div class="card-body">
                                    <p class="card-title"> @product.name</p>
                                    <p class="card-text" style="line-height: 1em;height: 3em;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;"> @product.description</p>

                                    <div class="btn-group float-left">
                                        <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("productDetail", "Products", new { id = product.productId })">Details</a>
                                    </div>
                                    <div class="btn-group float-right text-right">
                                        <a class="btn btn-sm btn-outline-secondary" href="/UserCart/CartPostAsync/@product.productId">Add to Cart</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <p class="text-center">No Product Found</p>
    }
</main>


